<div class="video">
  <div id="ytplayer" class="player"></div>
  <div class="row">
    <div class="col-lg-6"><a class="btn btn-lg btn-primary" ng-click="playCtrl.playNext()" ng-disabled="playCtrl.answered && playCtrl.questionsAtTheEnd">Siguiente</a></div>
  </div>
  <div class="row qa" id="qa" ng-show="playCtrl.showQuestions">
    <h2>{{ playCtrl.currentVideo.question }}</h2>
    <ul>
      <li ng-repeat="answer in playCtrl.currentVideo.answers" ng-click="playCtrl.answered || playCtrl.answer($index)" ng-class="{correctAnswer: $index==playCtrl.answeredindex && $index == playCtrl.currentVideo.correctanswer, incorrectAnswer: $index==playCtrl.answeredindex && $index != playCtrl.currentVideo.correctanswer}">{{ answer.text }}</li>
    </ul>
  </div>
</div>