<div class="cine clearfix">
  <div class="title-cine">
    <p class="pull-left">{{ playCtrl.playlist.title }}</p>
    <p class="progress-cine pull-right">{{ playCtrl.idx+1 }}/{{ playCtrl.videos.length }}</p>
  </div>
  <youtube-video video-id="playCtrl.videos[playCtrl.idx].id" player-vars="playCtrl.playerVars" player="playCtrl.player"></youtube-video>
  <div ng-show="playCtrl.correct[playCtrl.videos[playCtrl.idx].id]" class="already-answered">
    <div><i class="fa fa-check"></i></div>
    You have already answered this question correctly.
  </div>
  <div ng-hide="playCtrl.correct[playCtrl.videos[playCtrl.idx].id]">
    <p class="question-txt">{{ playCtrl.videos[playCtrl.idx].question }}</p>
    <div class="answer">
      <ul class="list-unstyled">
        <li ng-repeat="answer in playCtrl.videos[playCtrl.idx].answers" ng-class="{'selected-answer': $index == playCtrl.answeredindex, 
                                                                            'cine-right': playCtrl.answered && $index == playCtrl.answeredindex && $index == playCtrl.videos[playCtrl.idx].correctanswer,
                                                                            'cine-wrong': playCtrl.answered && $index == playCtrl.answeredindex && $index != playCtrl.videos[playCtrl.idx].correctanswer}">
          <div class="radio">
            <label>
            <i class="fa fa-check" ng-show="playCtrl.answered && $index == playCtrl.answeredindex && $index == playCtrl.videos[playCtrl.idx].correctanswer"></i>
            <i class="fa fa-times" ng-show="playCtrl.answered && $index == playCtrl.answeredindex && $index != playCtrl.videos[playCtrl.idx].correctanswer"></i>
            <input type="radio" name="answer" ng-disabled="playCtrl.answered" ng-model="playCtrl.answeredindex" ng-value="$index" ng-hide="playCtrl.answered && $index == playCtrl.answeredindex">
              {{ answer.text }}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="button-player" ng-click="playCtrl.playNext()" ng-show="!playCtrl.answered && playCtrl.answeredindex == -1">
    <a href="#">
      Skip
    </a>
  </div>
  <div class="button-player" ng-click="playCtrl.answer()" ng-show="!playCtrl.answered && playCtrl.answeredindex != -1">
    <a href="#">
      Check
    </a>
  </div>
  <div class="button-player" ng-click="playCtrl.playNext()" ng-show="playCtrl.answered">
    <a href="#">
      Next
    </a>
  </div>
</div>
