<div ng-if="$index % 3 == 0" class="clearfix visible-lg-block"></div>
<div ng-if="$index % 2 == 0" class="clearfix visible-md-block"></div>
<div class="col-md-4 col-centered boo-video2" ng-click="playCtrl.playPlaylist(playlist._id)">
  <div>
    <div class="th"><img ng-src="{{ playlist.entries[0] ? playlist.entries[0].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[1] ? playlist.entries[1].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[2] ? playlist.entries[2].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[3] ? playlist.entries[3].thumbnail : '/img/nothumbnail.png' }}"></div>
  </div>
    
  <h4>{{ playlist.title }}</h4>
  <i class="fa fa-clock-o timer"> {{ playCtrl.renderTime(playlist.duration) }}</i>
  <ul class="list-unstyled list-inline">
    <li class="tag-box">Tags:</li>
    <li class="tag-box" ng-repeat="tag in playlist.tags">
      {{ tag }}
    </li>
  </ul>
</div>