<div class="playlist" ng-click="playCtrl.playPlaylist(playlist._id)">
  <div>
    <div class="th th-top-left"><img ng-src="{{ playlist.entries[0] ? playlist.entries[0].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th th-top-right"><img ng-src="{{ playlist.entries[1] ? playlist.entries[1].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[2] ? playlist.entries[2].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[3] ? playlist.entries[3].thumbnail : '/img/nothumbnail.png' }}"></div>
  </div>

  <span class="fa-stack fa-lg play-btn">
    <i class="fa fa-circle fa-stack-2x "></i>
    <i class="fa fa-play-circle fa-stack-2x blue"></i>
  </span>
  <p class="playlist-title">{{ playlist.title }}</p>
  <div class="playlist-icons">
    <i class="fa fa-clock-o pull-right"> {{ playCtrl.renderTime(playlist.duration) }}</i>
    <i class="fa fa-graduation-cap"> {{ playCtrl.levelNames[playlist.level] }}</i>
  </div>
  <ul class="list-unstyled list-inline tag-list">
    <li class="tag-box" ng-repeat="tag in playlist.tags">
      {{ tag }}
    </li>
  </ul>
</div>
