<div class="cine clearfix summary-card">
  <div>
    <div class="text-center">
      <div ng-show="playCtrl.ratio == 0" class="sad-boo">You made Boo cry!</div>
      <div ng-show="playCtrl.ratio > 0 && playCtrl.ratio <= 0.5" class="medal medal-bronze"></div>
      <div ng-show="playCtrl.ratio > 0.5 && playCtrl.ratio < 1" class="medal medal-silver"></div>
      <div ng-show="playCtrl.ratio == 1" class="medal medal-gold"></div>
    </div>
    <h3 class="score-title" ng-show="playCtrl.ratio > 0">You have completed the playlist "{{ playCtrl.playlist.title }}"</h3>
    <h3 class="score-title" ng-show="playCtrl.ratio == 0">Sorry but you didn't answer any question correctly of "{{ playCtrl.playlist.title }}"</h3>
  </div>
  <div class="text-center summary">Summary</div>

  <p class="skills"><span>Correct answers:</span> <span>{{ playCtrl.correctAnswers }} out of {{ playCtrl.videos.length }}</span></p>
  
  <div ng-controller="RankingController as rankCtrl">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" 
        ng-class="{'active': rankCtrl.period == 'week'}"
        ng-click="rankCtrl.setPeriod('week')">
          Week
      </button>
      <button type="button" class="btn btn-default" 
        ng-class="{'active': rankCtrl.period == 'month'}"
        ng-click="rankCtrl.setPeriod('month')">
          Month
      </button>
      <button type="button" class="btn btn-default" 
        ng-class="{'active': rankCtrl.period == 'alltime'}"
        ng-click="rankCtrl.setPeriod('alltime')">
          All time
      </button>
    </div>
    
    <ol>
        <li ng-repeat="entry in rankCtrl.topRanked">{{ entry.nickname }}</li>
    </ol>
    <ol start="{{ rankCtrl.aboveUser[0].rank }}">
        <li ng-repeat="entry in rankCtrl.aboveUser">{{ entry.nickname }}</li>
    </ol>
    <ol start=" {{ rankCtrl.userRank.rank }}">
        <li>{{ rankCtrl.userRank.nickname }}</li>
    </ol>
    <ol start="{{ rankCtrl.belowUser[0].rank }}">
        <li ng-repeat="entry in rankCtrl.belowUser">{{ entry.nickname }}</li>
    </ol>
  </div>
  
  <a class="button-player" href="/" ng-show="playCtrl.userLogged">
    Finish
  </a>
  <a class="button-player" href="/register" ng-hide="playCtrl.userLogged">
    Watch More!
  </a>
</div>

<div ng-show="playCtrl.relatedplaylists.length">
  <h4>Similar playlists:</h4>
  <relatedplaylist-card ng-repeat="playlist in playCtrl.relatedplaylists | orderBy:playlist._id" data-playlist-id="{{ playlist._id }}"></relatedplaylist-card>
</div>