extends layout

block content
  h1 All playlists

  p
    .error= message

  .row
    each playlist in playlists
      h2= playlist.title
      .row
        each video in playlist.entries
          .col-xs-6.col-sm-2
            img.img-responsive(src=video.thumbnail)
            p.videoTitle= video.title
  
  p
    a(href="/createPlaylist") Create new playlist