<!DOCTYPE html>
<html ng-app="babelbooapp">
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/babelbooapp/app.css" rel="stylesheet">
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/babelbooapp/playlist/playlist.js"></script>
    <script src="/babelbooapp/playlists/playlists.js"></script>
    <script src="/babelbooapp/play/play.js"></script>
    <script src="/babelbooapp/app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </head>
  <body>
    <div ng-controller="NavbarController as navbarCtrl">User: {{ navbarCtrl.user.username }} Points: {{ navbarCtrl.user.points }} <a href="/playlists">Playlists</a></div>
    <div ng-view></div>
  </body>
</html>