<script src="js/jquery.min.js"></script>
<script src="js/createPlaylist.js"></script>

<h1>Create new playlist</h1>
<div class="error"><%= message %></div>
<div>Search:<input type="text" name="query" />
  <a id="btn-search" class="btn btn-primary">Search</a>
</div>
<div id="result" class="row"></div>

<div>
  <form method="post" >
    <label>Playlist name:</label>
    <input type="text" name="title" />
    <input id="hidden-videoids" type="hidden" name="idlist" />
    <input id="btn-submit" type="submit" value="Create" />
  </form>
</div>
<div class="alert alert-warning"></div>

<div class="row" id="playlist-videos"></div>

<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

