<!DOCTYPE html>
<html ng-app="babelbooapp">
  <head>
    <title></title>
  </head>
  <body>
    <div class="container">
        <h1><%= error %></h1>
        <p><%= message %></p>
    </div>
  </body>
</html>
