<!DOCTYPE html>
<html ng-app="babelbooapp">
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/babelbooapp/app.css" rel="stylesheet">
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <script src="/lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script src="/babelbooapp/playlist/playlist.js"></script>
    <script src="/babelbooapp/playlists/playlists.js"></script>
    <script src="/babelbooapp/player/player.js"></script>
    <script src="/babelbooapp/app.js"></script>

  </head>
  <body>
    <div class="container">
        <h1><%= error %></h1>
        <p><%= message %></p>
    </div>
  </body>
</html>