<!DOCTYPE html>
<html ng-app="mayhem">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/landing.css">
    <script src="js/angular.js"></script>
    <script src="js/mayhem.js"></script>
</head>
<body>
    <div class="container">
      <%- body%>
    </div>
  </body>
</html>