<!DOCTYPE html>
<html ng-app="player">
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="js/angular.js"></script>
    <script src="js/player.js"></script>
  </head>
  <body>
    <div class="container">
      <%- body%>
    </div>
  </body>
</html>


