<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>You logged in as <%= username %></p>
<p><a href="/allPlaylists">View all the existing playlists</a></p>
<p><a href="/createPlaylist">Create new playlist</a></p>
<p><a href="/logout">Log out</a></p>
