<script>
  var playlistId = "<%= (playlistId?playlistId:"") %>";
</script>

<script src="js/jquery.min.js"></script>
<script src="js/playlist.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

<!-- Templates -->
<div id="searchresult-template" class="row template searchresult" data-search-idx="">
  <div class="col-xs-6 col-sm-3">
    <img id="resultimg" src="" class="img-responsive">
  </div>
  <div id="resultname" class="col-xs-6 col-sm-9">
  </div>
</div>

<div id="playlist-item-template" class="row template" data-video-id="">
  <div class="col-xs-6 col-sm-3">
    <img id="itemimg" src="" class="img-responsive">
  </div>
  <div id="itemtitle" class="col-xs-6 col-sm-9">
    <a id="itembutton" class="fa fa-trash fa-2x text-danger" data-video-id=""></a>
    <form>
      <div class="question"><label>Question</label><input type="text" id="questiontext" /></div>
      <div class="answers">
        <label>Answers</label><a class="addanswer">+</a>
        <div class="answer">
          <span>
            <input type="radio" name="correctanswer">
          </span>
          <input type="text" id="answertext"><a class="removeanswer">-</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /Templates -->

<h1>Create new playlist</h1>

<div class="row">
  <div class="input-group col-sm-8 searchbox" >
    <span class="input-group-btn">
      <button id="btn-search" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
    </span>
    <input id="input-search" name="query" type="text" class="form-control" placeholder="Search...">
  </div>
</div>

<!-- <div>Search:<input id="input-search" type="text" name="query" />
  <a id="btn-search" class="btn btn-primary">Search</a>
</div> -->
<div id="result" class="row"></div>

<div>
  <form>
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" class="form-control" name="title" placeholder="Playlist name">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Tags</span>
      <input type="text" class="form-control" name="tags" placeholder="Playlist tags">
    </div>


    <a id="btn-submit" class="btn btn-primary">Save</a>
  </form>
</div>
<div class="alert alert-warning"></div>

<div class="row" id="playlist-videos"></div>



