<!DOCTYPE html>
<html ng-app="mayhem">
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="js/angular.js"></script>
    <script src="js/mayhem.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
      <div class="col-sm-12">
        <h1>
          All playlists
          <a class="fa fa-plus text-success" href="/playlist"></a>
        </h1>
      </div>
      </div>
      
      <div class="row" ng-controller="PlaylistsController as playlistsCtrl">
      <playlist-card></playlist-card>
      </div>
    </div>
  </body>
</html>