<script>
  var playlistId = "<%= playlistId %>";
</script>

<div class="container">
  <div class="jumbotron">
    <h2>Videos en inglés</h2>
    <div class="video" id="video">
      <div id="ytplayer" class="player"></div>
    </div>
    <div class="row">
      <div class="col-lg-6"><a id="btn_boring" class="btn btn-lg btn-primary">Siguiente video aleatorio ></a></div>
      <div class="col-lg-6"><a id="btn_hard" class="btn btn-lg btn-success">Un video más facil ></a></div>
    </div><br>
  </div>
</div>