<div class="searcher row"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Add playlist
        <a class="fa fa-plus text-success" href="/playlist"></a>
        Add loose videos
        <a class="fa fa-plus text-success" href="/video"></a>
      </h1>
    </div>
  </div>

  <div class="row" ng-controller="ManagePlaylistsController as manageCtrl">
    <div class="col-sm-12">
      <span ng-repeat="tag in manageCtrl.tags"><a ng-click="manageCtrl.toggleTag(tag._id)">{{ tag._id }}</a> </span>
      <div>{{playlistsCtrl.selectedLevel}} {{playlistsCtrl.selectedTags}}</div>
    </div>
  <manage-playlist-card ng-repeat="playlist in manageCtrl.playlists | orderBy:'-publicationdate'" data-playlist-id="{{ playlist._id }}"></manage-playlist-card>
  </div>
</div>
