body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
  color: #FF0000;
}

p.videoTitle {
  white-space: nowrap;
  overflow: hidden;
}

#ytplayer {
    width: 640px;
    height: 480px;
}

.container {
	width: 800px;
}

.jumbotron {
	text-align: center;
}

.correctAnswer {
  background-color: #00FF00;
}

.incorrectAnswer {
  background-color: #FF0000;
}

#qa {
  text-align: left;
  display: none;
}

#summary {
  display: none;
}

.alert {
  display: none;
}

.template {
  display: none;
}

/*.playlist-item {
  display: none;
}
*/
/*.playlist h2 .fa-youtube-play {
  color: #0f0;
}

.playlist h2 .fa-pencil {
  color: #0f0;
}

.playlist h2 .fa-trash {
  color: #0f0;
}*/









