
<div class="cine clearfix medals" ng-controller="NavbarController as navbarCtrl">
  <div class="medal medal-gold">
    {{navbarCtrl.golds}}
  </div>
  <div class="medal medal-silver">
    {{navbarCtrl.silvers}}
  </div>
  <div class="medal medal-bronze">
    {{navbarCtrl.bronzes}}
  </div>
  
  <div ng-controller="RankingController as rankCtrl">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" 
        ng-class="{'active': rankCtrl.period == 'week'}"
        ng-click="rankCtrl.setPeriod('week')">
          Week
      </button>
      <button type="button" class="btn btn-default" 
        ng-class="{'active': rankCtrl.period == 'month'}"
        ng-click="rankCtrl.setPeriod('month')">
          Month
      </button>
      <button type="button" class="btn btn-default" 
        ng-class="{'active': rankCtrl.period == 'alltime'}"
        ng-click="rankCtrl.setPeriod('alltime')">
          All time
      </button>
    </div>
    
    <ol>
        <li ng-repeat="entry in rankCtrl.topRanked">{{ entry.nickname }}</li>
    </ol>
    <ol start="{{ rankCtrl.aboveUser[0].rank }}">
        <li ng-repeat="entry in rankCtrl.aboveUser">{{ entry.nickname }}</li>
    </ol>
    <ol start=" {{ rankCtrl.userRank.rank }}">
        <li>{{ rankCtrl.userRank.nickname }}</li>
    </ol>
    <ol start="{{ rankCtrl.belowUser[0].rank }}">
        <li ng-repeat="entry in rankCtrl.belowUser">{{ entry.nickname }}</li>
    </ol>
  </div>
  
  <a class="button-player" href="/">
    Back
  </a>
</div>