<div class="cine clearfix tvwelcome">
  <h1>Welcome to Boo TV</h1>
  <p>Watch videos for fun without worrying about questions.</p>
  <p>If you find a video boring just click next ( <i class="fa fa-forward"></i>) and watch a different one.</p>
  <h3>Choose your level:</h3>
  <ul>
    <li><button class="waves-effect waves-light btn-flat grey-text text-lighten-5 green" ng-click="tvCtrl.playLevel(1)">{{ tvCtrl.levelNames[1] }}</button></li>
    <li><button class="waves-effect waves-light btn-flat grey-text text-lighten-5 yellow darken-3" ng-click="tvCtrl.playLevel(2)">{{ tvCtrl.levelNames[2] }}</button></li>
    <li><button class="btn-flat grey lighten-2 disabled" ng-click="tvCtrl.playLevel(3)" disabled>{{ tvCtrl.levelNames[3] }}</button></li>
  </ul>
</div>
