<div class="tv">
	<!-- <div class="tv-container">
		<a class="btn btn-default pull-right tv-button" href="#" role="button" ng-click="tvCtrl.playNext()" ng-disabled="tvCtrl.idx == tvCtrl.videos.length">
	  	Play Next <i class="fa fa-fast-forward"></i>
		</a>
		<p class="title-cine">{{ tvCtrl.videos[tvCtrl.idx].title }}</p>
		<div class="clearfix"></div>
	</div> -->
	<div class="cinetv">
		<div class="title">{{ tvCtrl.videos[tvCtrl.idx].title }}</div>
		<youtube-video video-id="tvCtrl.videoId" player-vars="tvCtrl.playerVars" player="tvCtrl.player" player-width="'855px'" player-height="'477px'"></youtube-video>
		<div>
		    <div class="player-controls">
				<div class="video-progress" ng-click="tvCtrl.seek($event)">
					<div class="bar" style="width: {{
					  tvCtrl.elapsed
					  /tvCtrl.player.getDuration()*100
					}}%"></div>
				</div>
				<div class="tv-button"><i class="fa fa-backward" ng-click="tvCtrl.playPrevious()"></i></div>
				<div class="tv-button">
					<i class="fa fa-play" ng-click="tvCtrl.player.playVideo()" ng-hide="tvCtrl.player.getPlayerState() == 1 || tvCtrl.player.getPlayerState() == 3"></i>
					<i class="fa fa-pause" ng-click="tvCtrl.player.pauseVideo()" ng-show="tvCtrl.player.getPlayerState() == 1 || tvCtrl.player.getPlayerState() == 3"></i>
				</div>
				<div class="tv-button"><i class="fa fa-forward" ng-click="tvCtrl.playNext()"></i></div>
		    </div>
		</div>
	</div>
</div>