body {
    margin: 0px;
    color:#333;
    background-color: #DFDFDF;
    padding-top: 60px;
}

.primary-bg {
    background-color: #00618C;
}

.primary, h3 {
    color: #00618C;
}

.row {
    margin: 0px;
}

/*----------   LANDING   ----------*/
#login-button {
    margin-top: 8px;
    margin-right: 15px;
}

#login-bubble {
    padding: 10px;
    margin-right: 15px;
    margin-top: -5px;
}

#login-bubble button {
    width: 100%;
}

#login-bubble {
    display: block;
}

#login-bubble div {
    margin: 10px;
}

.call {
    background: url(/img/popcorn.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.landing h1 {
    margin-bottom: 40px;
}

.landing h2 {
    font-size: 56px;
    color: #00618C;
    margin-bottom: 25px;
}

.value h3 {
    color: #fff;
}

.team h3 {
    color: #333;
}

.landing .container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.landing .value {
    background-color: #00618C;
    color: #ffffff;
    padding: 40px;
}

.landing .team {
    background-color: #ffffff;
    padding: 40px;
}

.footer {
    background-color: #00618C;
    color: #ffffff;
    height: 80px;
    padding: 5px;
}

.footer .row {
    padding: 5px;
}

.footer a, .footer a:visited, .footer a:hover {
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.cuadrado {
    background-color:#00618C;
    border-radius: 10px;
    padding:20px;
    color:#fff;
    font-size:20px;
}

.cuadrado h2 {
    color:#fff;
}

.form-control {
    margin-bottom:20px;
}


/*----------    FEEDBACK   ----------*/
.feedback-btn {
    color: #fff;
    background-color: #00618C;
    border-radius: 2px;
    box-shadow: 1px -1px 3px #848484;
    padding: 5px 10px 5px 10px;
    position: fixed;
    bottom: -3px;
    /*left: -71px;*/
    right: 40px;
    z-index: 999;
    cursor: pointer;
}

.feedback-btn i {
    padding-right: 7px;
}

.feedback-form {
    position: fixed;
    padding: 10px;
    background-color: #fff;
    z-index: 999;
    border-radius: 2px;
    box-shadow: 1px 1px 6px #848484;
    bottom: 40px;
    right: 40px;
}

.feedback-form h3 {
    margin-top: 0px;
}

.feedback-form .close-form {
    color: #00618C;
}

.feedback-form .close-form:hover {
    color: #54ACD2;
}


.feedback-form textarea {
    min-width: 400px;
}
/*----------   /FEEDBACK   ----------*/


/*----------   HEADER   ----------*/
nav {
    height: 50px;
}

nav li > a {
    color: #fff;
    display: block;
    padding: 0px 15px;
    line-height: 50px;
}

nav ul li {
    float: left;
    position: relative;
}

.navbar-shadow {
    width: 100%;
    position: fixed;
    margin-top: -10px;
    box-shadow: 0px -4px 5px 5px #555;
    z-index: -1;
}

.medals i {
    padding-left: 5px;
    padding-right: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav .fa-user {
    line-height: 50px;
    font-size: 28px;
}

nav i.fa-user {
    float: left;
    margin-right: 15px;
}

nav li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color:#004e70;
}

nav li > a:focus {
    color: #fff;
    text-decoration: none;
}

.user-dropdown {
    position: absolute;
    z-index: 1000;
    min-width: 100%;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.user-dropdown .fa {
    display: inline;
}

.user-dropdown a, .user-dropdown a:hover {
    color: #00618C;
    text-decoration: none;
    padding: 0;
}


/*---------   SEARCHER   ---------*/
.searcher {
    width:100%;
    margin: -10px 0 0 0;/*Chapuza para colocarlo por debajo y que se quede fijo el header*/
    padding: 2px;
    background-color: #54ACD2;
    box-shadow: 0px -4px 5px 5px #555;
}

.search-tag{
    margin:0 auto 0 auto;
}

.lvl {
    margin: 10px 0 0 0;
}

.lvl li{
    background-color:#E25041;
}

.lvl li:hover{
    background-color:#B8312F;
}

li.lvl-selected{
    background-color:#B8312F;
}

.lvl li, .search-tag li{
    padding:5px;
    margin:0 0 10px 5px;
    color:#fff;
    border-radius: 3px;
    cursor: pointer;
}

.search-tag li {
    background-color: #63d0ff;
}

.search-tag li:hover{
    background-color:#2969B0;
}

li.tag-selected {
    background-color:#2969B0;
}

/*---------    PLAYLIST CONTENT --------*/
.row-centered {
    text-align:center;
}

.tag-container {
    max-width: 972px;
    margin-left: auto;
    margin-right: auto;
}

.myContainer {
    max-width: 972px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.playlists-block h3 {
    color: #333;
    text-align: left;
    padding-left: 18px;
    margin-bottom: 0px;
}

.playlist {
    display: inline-block;
    background-color:#fff;
    max-width:210px;
    padding:0;
    margin:15px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #848484;
    vertical-align: top;
    height: 320px;
    text-align: left;
}
.play-btn {
    float:right;
    margin:-24px 5px 0 0;
    font-size:24px;
    cursor:pointer;
}

.play-btn>.fa-play:before {
    margin-left: 5px;
    font-size: 18px;
}

.play-btn>.fa-play {
    margin-top: -2px;
}

.play-btn, .play-btn:hover {
    color:#fff;
}

.play-circle {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
}

.play-circle, .play-circle:hover {
    color:#63d0ff;
}

.playlist-title{
    font-weight: bold;
    float:left;
    width: 151px;
    color:#00618C;
    font-size:14px;
    padding:3px 0 0px 10px;
    margin:0px;
}

.th{
    float:left;
    padding: 0px;
    margin: 0px;
    width: 105px;
    height: 105px;
    overflow: hidden;
    text-align: center;
}

.th img {
    height: 105px;
    position: relative;
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
}

.playlist-icons {
    font-size:12px;
    color:#666666;
    padding: 2px 10px 5px 10px;
    clear:left;
}

.tag-awesome{
    font-size:12px;
    color:#666666;
    margin-right:-10px;
    padding-right:0px;
}

.tag-box{
    color: #777;
    font-size:12px;
}

.not-found {
    margin-top: 200px;
    text-transform: lowercase;
    color: #8E8E8E;
    text-shadow: 1px 1px #eee;
}

.medal-gold {
    color: rgb(254, 214, 20);
}

.medal-silver {
    color: rgb(211, 224, 222);
}

.medal-bronze {
    color: rgb(220, 155, 122);
}

.playlist .medal {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
}

.playlist .medal-gold {
    background-image: url('/img/gold-small.png');
}

.playlist .medal-silver {
    background-image: url('/img/silver-small.png');
}

.playlist .medal-bronze {
    background-image: url('/img/bronze-small.png');
}

.playlist .medal-none {
    background-image: url('/img/none-small.png');
}

.summary-card .medal, .medals .medal {
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    background-position: 50% 0;
    height: 270px;
}

.summary-card .medal-gold, .medals .medal-gold {
    background-image: url('/img/gold.png');
}

.summary-card .medal-silver, .medals .medal-silver {
    background-image: url('/img/silver.png');
}

.summary-card .medal-bronze, .medals .medal-bronze {
    background-image: url('/img/bronze.png');
}

.sad-boo {
    background-image: url('/img/sad-boo.png');
    background-repeat: no-repeat;
    color: #00618C;
    font-size: 40px;
    font-weight: 500;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 135px;
    padding-top: 50px;
}

.medals {
    text-align: center !important;
}

.medals .medal {
    width: 32%;
    display: inline-block;
    padding-top: 160px;
    color: #333;
    font-size: 37px;
    font-weight: 900;
}

.playlist-icons .medal-gold, .playlist-icons .medal-silver, .playlist-icons .medal-bronze, .playlist-icons .medal-none {
    font-size: 2em;
    margin-top: 5px;
}

/*---------    PLAYLIST --------*/
.cine {
    background-color:#fff;
    max-width: 680px;
    margin: 0px auto 20px auto;
    padding-top: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #848484;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
}

.cine > * {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.title-cine, .progress-cine {
    font-size:22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title-cine {
    color:#777;
}

.question-txt{
    font-size:22px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0px;
}

.answer {
    margin-top: 00px;
    width: 100%;
    display: inline-block;
}

.answer li {
    margin: 0 0 3px 0;
    border-radius: 15px;
    padding: 2px 8px 4px 8px;
}

.answer li:hover {
    background-color: #ddd;
}

.selected-answer {
    color: #fff;
    background-color: #54ACD2;
}

.selected-answer:hover {
    background-color: #449CC2 !important;
}

.answer .radio {
    margin: 0px;
}

.answer .radio label {
    width: 100%;
}

.already-answered {
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #3c763d;
    padding: 20px;
    margin-top: 7px;
}

.already-answered .fa-check {
    font-size: 60px;
}

.nav-list {
    margin:15px 15px 75px 10px;
    padding:0px;
    font-size: 20px;
    font-weight: bold;
}

.nav-list a {
    text-decoration: none;
}

.answer-symbol {
    color: #fff;
    font-size: 122px;
    margin-right: 5px;
    float: right;
}

.button-player {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    border: none;
    text-decoration: none;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: block;
}

.button-player:hover {
    background-color: #ddd;
    color: #428bca;
    text-decoration: none;
}

.button-player:focus {
    color: #428bca;
    text-decoration: none;
}

.cine-right, .cine-wrong, .cine-right a, .cine-wrong a {
    color: #fff;
}

.cine-right {
    background-color: #3c763d !important;
}

.cine-wrong {
    background-color: #a94442 !important;
}

.cine-wrong .fa-times, .cine-right .fa-check {
    margin-left: -20px;
    font-size: 18px;
}

.cine-right .fa-check {
    margin-right: -2px;
}

.cine-right .fa-times {
    margin-right: 2px;
}

.cine-right:hover {
    background-color: #2c662d !important;
}

.cine-wrong:hover {
    background-color: #993432 !important;
}

.button-player-disabled, .button-player-disabled:hover, .button-player-disabled:focus {
    color: #999;
    cursor: default;
    background-color: transparent;
    text-decoration: none;
}

.button-summary {
    width: 680px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}


/*---------  PLAYER   --------*/
.player-controls {
    background-color: #54ACD2;
    color: #fff;
    padding-left: 22px;
    padding-right: 0px;
    margin-top: -5px;*
}

.video-progress {
    height: 7px;
    background-color: #ccc;
    margin-left: -22px;
    cursor: pointer;
}

.video-progress .bar {
    height: 100%;
    background-color: #00618C;
}

.player-controls i {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    text-align: center;
}

.player-controls i:hover {
    color: #ddd;
    cursor: pointer;
}

.player-time {
    font-size: 11px;
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 6px;
}

.total-time {
    font-weight: bold;
}
/*---------  /PLAYER  --------*/


/*---------  RESULTS  --------*/
.score {
    margin:15px;
}

.score-title {
    color:#00618C;
    margin-bottom: 20px;
}

.summary-medal {
    font-size: 190px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.summary {
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #00618C;
    padding: 20px;
    margin-top: 7px;
}

.summary-progress {
    width: 105px;
    height: 105px;
    position: relative;
    display: inline-block;
    margin: 20px 10px 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 3px;
}

.summary-thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.summary-thumbnail img {
    height: 105px;
    position: relative;
    left: 100%;
    margin-left: -200%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    background-color: rgba(50,50,50,0.3);
}

.skills{
    font-size: 25px;
    margin-top: 10px;
}

.total-score{
    color:#00618C;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px
}

.score-points{
    color:#FBA026;
}

.finish-video-btn{
    color:#fff;
    background-color:#00618C
}

/*---------    TV --------*/

.tv {
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0px;
    z-index: -5;
    padding-top: 20px;
}

.tvwelcome {
    width: 400px;
}

.tvwelcome ul {
    text-align: justify;
}

.tvwelcome li {
    display: inline-block;
}

.tvwelcome ul:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

.tvwelcome h3 {
    margin-bottom: 30px;
}

.cinetv {
    width: 855px;
    margin-left: auto;
    margin-right:auto;
    background-color: #111;
    box-shadow: 1px 1px 15px #848484;
    border-radius: 2px;
    overflow: hidden;
}

.cinetv .title {
    background-color: #333;
    color: #fff;
    padding: 7px 15px 7px 15px;
    font-size: 18px;
    font-weight: 500;
}

.tv .player-controls {
    padding-left: 0px;
    background-color: #333;
}

.tv-button {
    width: 33%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
}

.tv .video-progress {
    margin-left: 0px;
}

/*--------- RANKING ---------*/
.ranking {
    text-align: center;
}

.ranking table {
    text-align: left;
    margin: auto;
    margin-top: 15px;
}

.ranking tr {
    border-bottom: 1px solid #ccc;
}

.ranking .first-above {
    border-top: 3px solid #00618C;
}

.ranking td {
    padding: 5px;
}

.ranking .me {
    color: #fff;
    background-color: #00618C;
}

/*--------- /RANKING ---------*/

/*---------    OTHERS --------*/
.value {
    background-color: #00618C;
    color: #ffffff;
    padding: 10px;
}

.team {
    background-color: #ffffff;
    padding: 10px;
}

.score {
    margin:15px;
}
