body {
    margin: 0px;
    color:#333;
    background-color: #DFDFDF;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

h3 {
    font-size: 24px !important;
}

.primary-bg {
    background-color: #00618C;
}

.primary, h3 {
    color: #00618C;
}

.row {
    margin: 0px;
}

/*----------   LANDING   ----------*/
#login-button {
    margin-top: 8px;
    margin-right: 15px;
}

#login-button a {
    margin-right: 10px;
}

#login-bubble {
    padding: 10px 10px 0px 10px;
}

#login-bubble, .user-dropdown {
    border-radius: 2px;
    box-shadow: 1px 1px 3px #848484, 0px 0px 20px rgba(132, 132, 132, 0.3);
    right: 5px;
    top: 55px;
    display: block;
    background-color: white;
    position: fixed;
    z-index: 999;
}

#login-bubble button {
    width: 100%;
}

#login-bubble div {
    margin: 10px;
}

.call {
    background: url(/img/popcorn.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}

.landing h1 {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1em;
    margin-top: 20px;
    text-align: center;
}

.landing h2 {
    font-size: 56px;
    color: #00618C;
    margin-bottom: 25px;
    text-align: center;
}

.value h3, .team h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1em;
}

.value h3 {
    color: #fff;
}

.team h3 {
    color: #333;
}

.landing .container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.landing .value {
    background-color: #00618C;
    color: #ffffff;
    padding: 40px;
}

.landing .team {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}

.footer {
    background-color: #00618C;
    color: #ffffff;
    height: 80px;
    padding: 5px;
    text-align: center;
}

.footer .row {
    padding: 5px;
}

.footer a, .footer a:visited, .footer a:hover {
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.cuadrado {
    background-color:#00618C;
    border-radius: 10px;
    padding:20px;
    color:#fff;
    font-size:20px;
}

.cuadrado h2 {
    color:#fff;
}

.form-control {
    margin-bottom:20px;
}


/*----------    FEEDBACK   ----------*/
.feedback-btn {
    color: #fff;
    background-color: #00618C;
    border-radius: 2px;
    box-shadow: 1px -1px 3px #848484, 0px 0px 20px rgba(132, 132, 132, 0.3);
    padding: 5px 10px 10px 10px;
    position: fixed;
    top: 50%;
    left: -70px;
    z-index: 900;
    cursor: pointer;
    transform: rotate(90deg);
    margin-top: -17px;
}

.feedback-btn i {
    padding-right: 7px;
}

.feedback-form {
    position: fixed;
    padding: 10px;
    background-color: #fff;
    z-index: 999;
    border-radius: 2px;
    box-shadow: 1px 1px 6px #848484, 0px 0px 20px rgba(132, 132, 132, 0.6);
    top: 50%;
    left: 40px;
    margin-top: -155px;
}

.feedback-form h3 {
    margin-top: 0px;
}

.feedback-form .close-form {
    color: #00618C;
}

.feedback-form .close-form:hover {
    color: #54ACD2;
}


.feedback-form textarea {
    min-width: 400px;
}
/*----------   /FEEDBACK   ----------*/


/*----------   HEADER   ----------*/
nav {
    overflow: hidden;
}

nav .navbar-boo img, nav {
    vertical-align: middle;
}

@media only screen and (max-width: 700px) {
    nav .navbar-boo {
        text-align: center;
    }

    nav .navbar-boo li {
        float: left;
    }
}

nav .btn-flat, nav .btn {
    overflow: initial;
}

.medals i {
    padding-left: 5px;
    padding-right: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav span > .fa-user, ranking .fa-user {
    color: #00618C;
    font-size: 34px;
}

nav .fa-user {
    margin-top: -5px;
}

ranking .fa-user {
    margin-left: -1px;
}

nav .avatar, ranking .avatar {
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

nav .avatar {
    margin-right: 5px;
}

img.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-dropdown {
    font-size: 15px;
    padding: 0px;
    width: 125px;
}

.user-dropdown .collection {
    margin: 0px;
    border: none;
}

/*--------- SOCIAL SHARE ---------*/

.share-button {
    bottom: 9px;
    right: 24px;
}

.btn-floating.twitter {
    background-color: #55ACEE;
}

.btn-floating.facebook {
    background-color: #3a5795;
}


/*---------   SEARCHER   ---------*/
.searcher {
    width:100%;
    padding: 2px;
    background-color: #54ACD2;
    box-shadow: 0px -4px 5px 5px #555;
    padding-top: 10px;
}

.search-tag{
    margin:0 auto 0 auto;
}

.lvl {
    margin: 0px;
}

.lvl li{
    background-color:#E25041;
}

.lvl li:hover{
    background-color:#B8312F;
}

li.lvl-selected{
    background-color:#B8312F;
}

.lvl li, .search-tag li {
    padding:5px;
    margin:0 0 10px 5px;
    color:#fff;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.search-tag li {
    background-color: #63d0ff;
}

.search-tag li:hover{
    background-color:#2969B0;
}

li.tag-selected {
    background-color:#2969B0;
}

/*---------    PLAYLIST CONTENT --------*/
.row-centered {
    text-align:center;
}

.tag-container {˝
    max-width: 972px;
    margin-left: auto;
    margin-right: auto;
}

.myContainer {
    max-width: 972px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
}

.playlists-block h3 {
    color: #333;
    text-align: left;
    padding-left: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 1em;
}

.playlist {
    display: inline-block;
    background-color:#fff;
    max-width:210px;
    padding:0;
    margin:15px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #848484, 0px 0px 20px rgba(132, 132, 132, 0.3);
    vertical-align: top;
    height: 320px;
    text-align: left;
}
.play-btn {
    float:right;
    margin:-24px 5px 0 0;
    font-size:24px;
    cursor:pointer;
}

.play-btn>.fa-play:before {
    margin-left: 5px;
    font-size: 18px;
}

.play-btn>.fa-play {
    margin-top: -2px;
}

.play-btn, .play-btn:hover {
    color:#fff;
}

.play-circle {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
}

.play-circle, .play-circle:hover {
    color:#63d0ff;
}

.playlist-title{
    font-weight: bold;
    float:left;
    width: 151px;
    color:#00618C;
    font-size:14px;
    padding:3px 0 0px 10px;
    margin:0px;
}

.th{
    float:left;
    padding: 0px;
    margin: 0px;
    width: 105px;
    height: 105px;
    overflow: hidden;
    text-align: center;
}

.th img {
    height: 105px;
    position: relative;
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
}

.playlist-icons {
    font-size:12px;
    color:#666666;
    padding: 2px 10px 5px 10px;
    clear:left;
}

.playlist-icons ul {
    margin-top: 0px;
}

.tag-awesome{
    font-size:12px;
    color:#666666;
    margin-right:-10px;
    padding-right:0px;
}

.tag-box{
    color: #777;
    font-size:12px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.not-found {
    margin-top: 200px;
    text-transform: lowercase;
    color: #8E8E8E;
    text-shadow: 1px 1px #eee;
}

.medal-gold {
    color: rgb(254, 214, 20);
}

.medal-silver {
    color: rgb(211, 224, 222);
}

.medal-bronze {
    color: rgb(220, 155, 122);
}

.playlist .medal {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
}

.playlist .medal-gold {
    background-image: url('/img/gold-small.png');
}

.playlist .medal-silver {
    background-image: url('/img/silver-small.png');
}

.playlist .medal-bronze {
    background-image: url('/img/bronze-small.png');
}

.playlist .medal-none {
    background-image: url('/img/none-small.png');
}

.summary-card {
    padding-top: 0px !important;
    width: 600px;
}

.summary-card .medal, .medals .medal {
    background-repeat: no-repeat;
    position: relative;
    top: -30px;
    background-position: 50% 0;
    height: 270px;
}

.summary-card .medal-gold, .medal-table .medal-gold {
    background-image: url('/img/gold.png');
}

.summary-card .medal-silver, .medal-table .medal-silver {
    background-image: url('/img/silver.png');
}

.summary-card .medal-bronze, .medal-table .medal-bronze {
    background-image: url('/img/bronze.png');
}

.sad-boo {
    background-image: url('/img/sad-boo.png');
    background-repeat: no-repeat;
    color: #00618C;
    font-size: 40px;
    font-weight: 500;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 135px;
    padding-top: 50px;
}

.medals {
    text-align: center !important;
}

.medals .medal {
    width: 32%;
    display: inline-block;
    padding-top: 160px;
    color: #333;
    font-size: 37px;
    margin-top: -15px;
    margin-bottom: -30px;
    font-weight: 900;
}

.playlist-icons .medal-gold, .playlist-icons .medal-silver, .playlist-icons .medal-bronze, .playlist-icons .medal-none {
    font-size: 2em;
    margin-top: 5px;
}

/*---------    PLAYLIST --------*/
.cine {
    background-color:#fff;
    max-width: 680px;
    margin: 10px auto 20px auto;
    padding-top: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #848484, 0px 0px 20px rgba(132, 132, 132, 0.3);
    vertical-align: top;
    text-align: left;
    overflow: hidden;
}

.cine > * {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.title-cine, .progress-cine {
    font-size:22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title-cine {
    color:#777;
}

.question-txt{
    font-size:22px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0px;
}

.player-container {
    width: 640px;
    height: 360px;
    background-color: #222;
    display: inline-block;
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.answer {
    margin-top: 0px;
    width: 100%;
    display: inline-block;
}

.answer label {
    margin: 0px;
    color: #333;
    font-weight: normal;
}

.answer li {
    border-radius: 15px;
    padding: 2px 8px 2px 8px;
}

.answer li:hover {
    background-color: #ddd;
}

.selected-answer {
    background-color: #54ACD2;
}

.selected-answer:hover {
    background-color: #449CC2 !important;
}

.selected-answer label::after, .selected-answer label::before {
    border: 2px solid #fff !important;
    background-color: #fff !important;
}

.answer .radio {
    margin: 0px;
}

.answer .radio label {
    width: 100%;
}

.already-answered {
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #3c763d;
    padding: 20px;
    margin-top: 7px;
}

.already-answered .fa-check {
    font-size: 60px;
}

.nav-list {
    margin:15px 15px 75px 10px;
    padding:0px;
    font-size: 20px;
    font-weight: bold;
}

.nav-list a {
    text-decoration: none;
}

.answer-symbol {
    color: #fff;
    font-size: 122px;
    margin-right: 5px;
    float: right;
}

.button-player {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    border: none;
    text-decoration: none;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: block;
}

.button-player:hover {
    background-color: #ddd;
    color: #428bca;
    text-decoration: none;
}

.button-player:focus {
    color: #428bca;
    text-decoration: none;
}

.cine-right, .cine-wrong, .selected-answer,
.cine-right label, .cine-wrong label, .selected-answer label {
    color: #fff !important;
}

.cine-right {
    background-color: #3c763d !important;
}

.cine-wrong {
    background-color: #a94442 !important;
}

.cine-wrong .fa-times, .cine-right .fa-check {
    color: #fff;
    margin-left: -20px;
    font-size: 18px;
    margin-left: -31px;
    padding-right: 12px;
}

.cine-right .fa-check {
    margin-right: -2px;
}

.cine-right .fa-times {
    margin-right: 2px;
}

.cine-right:hover {
    background-color: #2c662d !important;
}

.cine-wrong:hover {
    background-color: #993432 !important;
}

.button-player-disabled, .button-player-disabled:hover, .button-player-disabled:focus {
    color: #999;
    cursor: default;
    background-color: transparent;
    text-decoration: none;
}

.button-summary {
    width: 680px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
}


/*---------  PLAYER   --------*/
.player-controls {
    background-color: #54ACD2;
    color: #fff;
    padding-left: 22px;
    padding-right: 0px;
    margin-top: -5px;*
}

.video-progress {
    height: 7px;
    background-color: #ccc;
    margin-left: -22px;
    cursor: pointer;
}

.video-progress .bar {
    height: 100%;
    background-color: #00618C;
}

.player-controls i {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    text-align: center;
}

.player-controls i:hover {
    color: #ddd;
    cursor: pointer;
}

.player-time {
    font-size: 11px;
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 6px;
}

.label-hide::before, .label-hide::after {
    display: none;
}



.total-time {
    font-weight: bold;
}
/*---------  /PLAYER  --------*/


/*---------  RESULTS  --------*/
.score {
    margin:15px;
}

.container .myContainer {
    text-align: center;
}

.score-title {
    color:#00618C;
    margin-bottom: 20px;
}

.summary-medal {
    font-size: 190px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.summary {
    color: #fff;
    font-size: 22px;
    text-align: center;
    background-color: #00618C;
    padding: 20px;
    margin-top: 7px;
}

.summary-progress {
    width: 105px;
    height: 105px;
    position: relative;
    display: inline-block;
    margin: 20px 10px 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 3px;
}

.summary-thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.summary-thumbnail img {
    height: 105px;
    position: relative;
    left: 100%;
    margin-left: -200%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: #fff;
    background-color: rgba(50,50,50,0.3);
}

.skills{
    font-size: 25px;
    margin-top: 10px;
}

.total-score{
    color:#00618C;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px
}

.score-points{
    color:#FBA026;
}

.finish-video-btn{
    color:#fff;
    background-color:#00618C
}

/*---------    TV --------*/

.tv {
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0px;
    z-index: -5;
    padding-top: 20px;
}

.tvwelcome {
    width: 400px;
}

.tvwelcome ul {
    text-align: justify;
}

.tvwelcome li {
    display: inline-block;
}

.tvwelcome ul:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
}

.tvwelcome h3 {
    margin-bottom: 30px;
}

.cinetv {
    width: 855px;
    margin-left: auto;
    margin-right:auto;
    background-color: #111;
    box-shadow: 1px 1px 3px #848484, 0px 0px 20px rgba(132, 132, 132, 0.3);
    border-radius: 2px;
    overflow: hidden;
}

.cinetv .title {
    background-color: #333;
    color: #fff;
    padding: 7px 15px 7px 15px;
    font-size: 18px;
    font-weight: 500;
}

.tv .player-controls {
    padding-left: 0px;
    background-color: #333;
}

.tv-button {
    width: 33%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
}

.tv .video-progress {
    margin-left: 0px;
}

/*--------- RANKING ---------*/
.ranking.content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.ranking-btns {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ranking-btns .btn-flat {
    width: 32%;
    padding: 0px;
}

.ranking table {
    text-align: left;
    margin: auto;
    margin-top: 5px;
}

.ranking tr {
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.ranking .first-above {
    border-top: 3px solid #00618C;
}

.ranking td {
    padding: 5px;
    border-radius: 0px;
    max-width: 8em;
}

.ranking .me {
    color: #fff;
    background-color: #00618C;
}
/*--------- /RANKING ---------*/

/*--------- PROGRESS ---------*/
.left-container {
    display: inline-block;
    width: 610px;
    padding-right: 10px;
}

.progress-card.medal-table, .progress-card.chart {
    width: 100%;
}

.progress-card.chart {
    height: 350px;
}

.progress-card.ranking {
    height: 636px;
}

.blue-title {
    color: #fff;
    font-size: 22px;
    background-color: #00618C;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

.progress-card.ranking td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.progress-card .chart-container {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.progress-card {
    background-color:#fff;
    margin: 0px auto 10px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #848484;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    display: inline-block;
}

.progress-card > * {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.medals {
    overflow: hidden;
}

.medals .fa-circle, .medals .fa-trophy {
    font-size: inherit;
}
/*--------- /PROGRESS ---------*/

/*--------- TUTORIAL ---------*/
.tutorial {
    padding: 0px;
    height: 500px;
    width: 800px;
    max-width: none;
    position: relative;
    overflow: visible;
    text-align: center;
}

.tutorial .btn-next, .tutorial .btn-prev {
    position: absolute;
    font-size: 2em;
    width: 1em;
    top: 50%;
    margin-top: -0.5em;
    text-align: center;
    font-weight: bold;
    padding: 0px;
    background-color: rgba(0, 97, 140, 0.51);
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
}

.tutorial .btn-next:hover, .tutorial .btn-prev:hover {
    background-color: rgba(0, 97, 140, 0.8);
}

.tutorial .light.btn-next:hover, .tutorial .light.btn-prev:hover {
    background-color: rgba(179, 212, 226, 0.8);
}

.tutorial .light.btn-next, .tutorial .light.btn-prev {
    background-color: rgba(155, 196, 213, 0.7);
}


.tutorial .btn-next {
    right: -0.5em;
}

.tutorial .btn-prev {
    left: -0.5em;
}

.tutorial .next {
    right: -8px;
    position: absolute;
    top: 5px;
}

.tutorial .steps {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    color: #00618C;
}

.tutorial .steps .past {
    color: #00618C;
}

.tutorial .steps .future {
    color: #ccc;
}

.tutorial .steps i {
    padding-left: 5px;
    padding-right: 5px;
}


.tutorial .step0, .tutorial .step1, .tutorial .step2, .tutorial .step3,
.tutorial .step4, .tutorial .step5 {
    height: 100%;
    width: 100%;
}

.tutorial .step0 {
    padding-top: 50px;
    background-image: url('/img/tutorial/boo0.png');
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: 200px;
}

.step0 h1 {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 20px;
}

.step0 h2 {
    font-size: 26px;
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 100px;
}

.step1 {
    background-image: url('/img/tutorial/1.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 35px;
}

.step2 {
    background-image: url('/img/tutorial/2.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 43px;
}

.step3 {
    background-image: url('/img/tutorial/3.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 75px;
    background-size: 95%;
}

.step4 {
    background-image: url('/img/tutorial/4.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 30px;
}

.tutorial .step5 {
    padding-top: 50px;
    background-image: url('/img/tutorial/boo5.png');
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: 200px;
}

.step5 h1 {
    font-size: 80px;
    padding-top: 100px;
    margin-top: 0px;
}

.step5 .end-btn {
    margin-top: 140px;
}

.cover {
    background-color: #00618C;
    color: #fff;
}
/*--------- /TUTORIAL ---------*/


/*--------- PROFILE --------*/
.profile-card .row {
    width: 650px;
    padding: 20px;
    margin-top: 10px;
}

.profile-avatar {
    position: relative;
    height: 230px;
}

.profile-avatar i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/*--------- /PROFILE --------*/


/*--------- REGISTRATION --------*/
.registration, .recover {
    padding: 20px 20px 10px 20px;
}

.registration, .recover, .reset {
    text-align: center;
}

.registration h3, .recover h3 {
    text-transform: uppercase;
}

.registration img, .recover img, .reset img {
    width: 200px;
    opacity: 0.5;
}

.registration button, .recover button {
    margin-top: 20px;
}

.recover p, .reset p {
    font-size: 2em;
}


/*--------- /REGISTRATION --------*/


/*---------    OTHERS --------*/
.value {
    background-color: #00618C;
    color: #ffffff;
    padding: 10px;
}

.team {
    background-color: #ffffff;
    padding: 10px;
}

.score {
    margin:15px;
}


/*--------- MATERIAL --------*/
.btn-flat:hover, .btn:hover, .btn-large:hover, .btn-flat:focus, .btn:focus, .btn-large:focus {
    text-decoration: none;
    color: #fff;
}

.profile-card input {
    margin-bottom: 5px !important;
    height: 2rem !important;

}

.profile-card label {
    font-weight: normal;
    margin-bottom: 0px;
}

.profile-card .input-field label {
    left: 0px;
    top: 0.6rem;
}

.file-field input.file-path {
    margin-left: auto;
}

.file-field .btn {
    position: static;
}

.widthzero {
    width: 0px !important;
}

.change-password {
    margin-top: 2.1rem;
}

.save-button {
    display: block;
    margin: 17px auto 0 auto;
}

/* label color */
.input-field label {
    /*color: #000;*/
}
/* label focus color */
.input-field input:focus + label {
    color: #039be5 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}
/* label underline focus color */
input:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

.side-nav {
    left: 0px !important;
}

ul.side-nav a {
    padding: 0 20px;
    display: inline-block;
    line-height: 50px;
    width: 240px;
    display: flex;
    align-items: center;
}

ul.side-nav li {
    padding: 0 0;
}

.button-collapse {
    margin-left: 10px;
}

.side-nav-shade {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}
/*--------- /MATERIAL --------*/

.no-hand:hover {
    cursor: default;
}
