#ytplayer {
    width: 640px;
    height: 480px;
}

body {
    margin: 0px;
    background-color: #DFDFDF;
}
h2{
    font-size:56px;
    color: #00618C;
    margin-bottom: 25px;
}
h3{
    color:#00618C;
}

.searcher {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.row {
    margin: 0px;
}
/*----------   HEADER   ----------*/

.header {
    background-color: #00618C;
    padding: 10px 30px 0 30px;

}

.header img {
    margin-left: 5px;
    margin-right: 5px;
}
.migas{
    padding:0 5px 0 5px;
    margin:-20px 15px;

}
.header-button{
    color:#fff;
    margin:0px;
    padding:25px 15px 15px 15px;
}
.header-button a{
    color:#78cdfc;
    text-decoration: none;
    padding:15px 5px 15px 3px;
}
.header-button a:hover{
    color:#fff;
    text-decoration: none;
    background-color:#004e70;
    padding:15px 5px 15px 3px;
}




/*---------   SEARCHER   ---------*/
.searcher {
    width:100%;
    /*max-height: 50px;*/
    margin-top: 50px;/*Chapuza para colocarlo por debajo y que se quede fijo el header*/
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background-color: #54ACD2;
    box-shadow: 2px 6px 5px -5px #555;
}
.search-tag{
    margin:10px 0 0 25px;
}
.order-tag{
    margin:5px 5px 0px 25px;
    float:left;

}
.lvl{
    float:left;
    width:85px;
}
.lvl li{
    background-color:#FBA026;
}
.lvl li:hover{
    background-color:#B8312F;
}
.tag{
    padding:5px;
    margin:0 0 10px 5px;
    background-color: #63d0ff;
    color:#fff;
    border-radius: 3px;
}
.tag:hover{
    background-color:#2969B0;
}

/*---------    PLAYLIST CONTENT --------*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    /*margin-right:-4px;*/
}

.boo-video2{
    background-color:#fff;
    max-width:210px;
    padding:0;
    margin:15px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #848484;
    vertical-align: top;

}
.play-btn{
    float:right;
    margin:-24px 5px 0 0;
    color:#fff;
    font-size:24px;
}
.blue{
    color:#63d0ff;

}
.play-btn:hover{
        cursor:pointer;
        cursor: hand
}
.play-btn:hover .blue{
        color:#2969B0;
}
.playlist-title{
    font-weight: bold;
    float:left;
    width: 156px;
    color:#00618C;
    font-size:14px;
    padding:3px 0 0px 10px;
    margin:0px;
}

.th{
    float:left;
    padding: 0;
    margin:0px;
    padding: 0px;
    margin: 0px;
    width: 105px;
    height: 105px;
    overflow: hidden;
    text-align: center;
}

.th-top-left {
    border-top-left-radius: 3px;
}

.th-top-right {
    border-top-right-radius: 3px;
}

.th-left {
    margin-right:0px;
}

.th-right {
    margin-left:0px;
}


.th-top {
    margin-bottom:0px;
}

.th-bottom {
    margin-top: 0px;

}

.th img {
    height: 105px;
    position: relative;
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
}

.boo-video2 ul{
    padding:0 0 0 5px;
    margin: 0 0 10px 0;
}
.playlist-icons{
    font-size:12px;
    color:#666666;
    margin:255px 10px 5px 10px;
    clear:left;
}
.tag-awesome{
    font-size:12px;
    color:#666666;
    margin-right:-10px;
    padding-right:0px;
}

.tag-box{
 color: #777;
 font-size:12px;
}

/*---------    PLAYLIST --------*/
.cine{
    background-color:#fff;
    max-width:210px;
    padding:0;
    margin:15px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #848484;
    vertical-align: top;

}
.answer-txt{
    font-size:24px;
    font-weight: bold;
    color: #00618C;
}

/*---------    OTHERS --------*/

.value {
    background-color: #00618C;
    color: #ffffff;
    padding: 10px;
}

.team {
    background-color: #ffffff;
    padding: 10px;
}
.yellow-txt{
    color:#f0ad4e;
}
.score{
    margin:15px;
}

/*--------   FOOTER   --------*/
.footer {
    background-color: #00618C;
    color: #ffffff;
    width:100%;
    height: 80px;
    padding: 5px;
    position:absolute;
    bottom:0;
    left:0;
}

.footer .row {
    padding: 5px;
}

.footer a, .footer a:visited, .footer a:hover {
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
