<div ng-controller="RankingController as rankCtrl" class="ranking content">
  <div class="ranking-btns">
    <a href="#" class="waves-effect waves-light btn-flat grey-text grey "
                ng-class="{'lighten-1': rankCtrl.period == 'week',
                           'text-darken-2': rankCtrl.period == 'week',
                           'lighten-2': rankCtrl.period != 'week',
                           'text-darken-1': rankCtrl.period != 'week'}"
       ng-click="rankCtrl.setPeriod('week')">
      Week
    </a>
    <a href="#" class="waves-effect waves-light btn-flat grey-text grey"
                ng-class="{'lighten-1': rankCtrl.period == 'month',
                           'text-darken-2': rankCtrl.period == 'month',
                           'lighten-2': rankCtrl.period != 'month',
                           'text-darken-1': rankCtrl.period != 'month'}"
       ng-click="rankCtrl.setPeriod('month')">
      Month
    </a>
    <a href="#" class="waves-effect waves-light btn-flat grey-text grey"
                ng-class="{'lighten-1': rankCtrl.period == 'alltime',
                           'text-darken-2': rankCtrl.period == 'alltime',
                           'lighten-2': rankCtrl.period != 'alltime',
                           'text-darken-1': rankCtrl.period != 'alltime'}"
       ng-click="rankCtrl.setPeriod('alltime')">
      All time
    </a>
  </div>

  <table class="medals">
    <tr ng-repeat="entry in rankCtrl.topRanked">
      <td>{{ entry.rank }}.</td>
      <td>
        <span class="fa-stack fa-lg avatar" ng-hide="entry.avatar">
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
        <img class="avatar" ng-src="{{entry.avatar.small}}" ng-show="entry.avatar"/>
      </td>
      <td class="truncate">{{ entry.nickname }}</td>
      <td><i class="fa fa-circle medal-gold"></i>{{ entry.golds }}</td>
      <td><i class="fa fa-circle medal-silver"></i>{{ entry.silvers }}</td>
      <td><i class="fa fa-circle medal-bronze"></i>{{ entry.bronzes }}</td>
    </tr>
    <tr ng-repeat="entry in rankCtrl.aboveUser" ng-class="{'first-above': entry.rank > 4 && entry.rank == rankCtrl.aboveUser[0].rank}">
      <td>{{ entry.rank }}.</td>
      <td>
        <span class="fa-stack fa-lg avatar" ng-hide="entry.avatar">
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
        <img class="avatar" ng-src="{{entry.avatar.small}}" ng-show="entry.avatar"/>
      </td>
      <td class="truncate">{{ entry.nickname }}</td>
      <td><i class="fa fa-circle medal-gold"></i>{{ entry.golds }}</td>
      <td><i class="fa fa-circle medal-silver"></i>{{ entry.silvers }}</td>
      <td><i class="fa fa-circle medal-bronze"></i>{{ entry.bronzes }}</td>
    </tr>
    <tr class="me">
      <td>{{ rankCtrl.userRank.rank}}.</td>
      <td>
        <span class="fa-stack fa-lg avatar" ng-hide="rankCtrl.userRank.avatar">
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
        <img class="avatar" ng-src="{{rankCtrl.userRank.avatar.small}}" ng-show="rankCtrl.userRank.avatar"/>
      </td>
      <td class="truncate">{{ rankCtrl.userRank.nickname }}</td>
      <td><i class="fa fa-circle medal-gold"></i>{{ rankCtrl.userRank.golds }}</td>
      <td><i class="fa fa-circle medal-silver"></i>{{ rankCtrl.userRank.silvers }}</td>
      <td><i class="fa fa-circle medal-bronze"></i>{{ rankCtrl.userRank.bronzes }}</td>
    </tr>
    <tr ng-repeat="entry in rankCtrl.belowUser">
      <td>{{entry.rank}}.</td>
      <td>
        <span class="fa-stack fa-lg avatar" ng-hide="entry.avatar">
          <i class="fa fa-user fa-stack-1x"></i>
        </span>
        <img class="avatar" ng-src="{{entry.avatar.small}}" ng-show="entry.avatar"/>
      </td>
      <td class="truncate">{{ entry.nickname }}</td>
      <td><i class="fa fa-circle medal-gold"></i>{{ entry.golds }}</td>
      <td><i class="fa fa-circle medal-silver"></i>{{ entry.silvers }}</td>
      <td><i class="fa fa-circle medal-bronze"></i>{{ entry.bronzes }}</td>
    </tr>
  </table>
</div>
