<div class="container">
  <div class="row">
  <div class="col-sm-12">
    <h1>
      All playlists
      <a class="fa fa-plus text-success" href="/playlist"></a>
    </h1>
  </div>
  </div>
  
  <div class="row" ng-controller="PlaylistsController as playlistsCtrl">
  <div class="col-sm-12">
    <ul>
      <li><span class="bg-success"><a ng-click="playlistsCtrl.getList()">All</a></span></li>
      <li ng-repeat="tag in playlistsCtrl.tags"><span class="bg-success"><a ng-click="playlistsCtrl.getListWithTag(tag._id)">{{ tag._id }}</a></span></li>
    </ul>
  </div>
  <playlist-card></playlist-card>
  </div>
</div>