<div ng-controller="PlaylistsController as playlistsCtrl">
  <div class="searcher row">
    <div class="tag-container">
      <div class="row row-centered">
        <ul class="lvl">
          <li ng-class="{'lvl-selected': playlistsCtrl.selectedLevel == 1}" ng-click="playlistsCtrl.setLevel(1)">{{ playlistsCtrl.levelNames[1] }}</li>
          <li ng-class="{'lvl-selected': playlistsCtrl.selectedLevel == 2}" ng-click="playlistsCtrl.setLevel(2)">{{ playlistsCtrl.levelNames[2] }}</li>
          <li ng-class="{'lvl-selected': playlistsCtrl.selectedLevel == 3}" ng-click="playlistsCtrl.setLevel(3)">{{ playlistsCtrl.levelNames[3] }}</li>
        </ul>
        <ul class="list-unstyled list-inline search-tag">
          <li ng-class="{'tag-selected': playlistsCtrl.selectedTag == tag._id}" ng-repeat="tag in playlistsCtrl.tags" ng-click="playlistsCtrl.toggleTag(tag._id)">{{ tag._id }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="myContainer">
    <div ng-show="playlistsCtrl.showPopular" class="playlists-block">
      <h3>Popular</h3>
      <playlist-card ng-repeat="playlist in playlistsCtrl.popular" data-playlist-id="{{ playlist._id }}"></playlist-card>
    </div>

    <div class="playlists-block">
      <h3>Newest</h3>
      <playlist-card ng-repeat="playlist in playlistsCtrl.playlists | orderBy:'-publicationdate' | filter: {published: true}" data-playlist-id="{{ playlist._id }}"></playlist-card>
    </div>

    <h3 class="not-found" ng-show="playlistsCtrl != null && playlistsCtrl.playlists.length==0">No playlists found</h3>
  </div>
</div>
