<div class="playlist">
  <div>
    <div class="th"><img ng-src="{{ playlist.entries[0] ? playlist.entries[0].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[1] ? playlist.entries[1].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[2] ? playlist.entries[2].thumbnail : '/img/nothumbnail.png' }}"></div>
    <div class="th"><img ng-src="{{ playlist.entries[3] ? playlist.entries[3].thumbnail : '/img/nothumbnail.png' }}"></div>
  </div>

  <a class="fa fa-times fa-2x dismiss" href="" ng-click="playlistsCtrl.dismiss(playlist._id)" ng-show="recommendations" title="Hide"></a>

  <a class="fa-stack fa-lg play-btn" ng-click="playlistsCtrl.playClicked(recommendations, playlist.slug)" ng-href="/play/{{ playlist.slug }}">
    <i class="fa fa-circle fa-stack-2x play-circle"></i>
    <i class="fa fa-play fa-stack-1x"></i>
  </a>
  <p class="playlist-title">{{ playlist.title }}</p>
  <div class="playlist-icons">
    <i class="fa fa-clock-o pull-right"> {{ playlistsCtrl.renderTime(playlist.duration) }}</i>
    <i class="fa fa-graduation-cap"> {{ playlistsCtrl.levelNames[playlist.level] }}</i>
  </div>
  <div class="playlist-icons">
    <i title="no medal" ng-show="!playlistsCtrl.userData.playlistprogress[playlist._id].ratio || playlistsCtrl.userData.playlistprogress[playlist._id].ratio == 0" class="medal medal-none pull-right"></i>
    <i title="bronze medal" ng-show="playlistsCtrl.userData.playlistprogress[playlist._id].ratio > 0 && playlistsCtrl.userData.playlistprogress[playlist._id].ratio <= 0.5" class="medal medal-bronze pull-right"></i>
    <i title="silver medal" ng-show="playlistsCtrl.userData.playlistprogress[playlist._id].ratio > 0.5 && playlistsCtrl.userData.playlistprogress[playlist._id].ratio < 1" class="medal medal-silver pull-right"></i>
    <i title="gold medal" ng-show="playlistsCtrl.userData.playlistprogress[playlist._id].ratio == 1" class="medal medal-gold pull-right"></i>
    <ul>
      <li class="tag-box"><i class="fa fa-tag"></i></li
      ><li class="tag-box" ng-repeat="tag in playlist.tags">
        {{ tag }}
      </li>
    </ul>
  </div>
</div>
