<div class="myContainer" ng-controller="ProfileController as profileCtrl">
  <div class="progress-card profile-card" ng-hide="betaCtrl.submitted">
    <div class="blue-title">
      User profile
    </div>

    <div class="row valign-wrapper">
      <div class="col s5 valign">
        <div class="profile-avatar">
          <img class="circle responsive-img" ng-src="/img/default-avatar.jpeg" alt="{{profileCtrl.nickname}}" ng-hide="profileCtrl.avatar || profileCtrl.showUploading"/>
          <img class="circle responsive-img" ng-src="{{profileCtrl.avatar}}" alt="{{profileCtrl.nickname}}" ng-show="profileCtrl.avatar && !profileCtrl.showUploading"/>
          <i class="fa fa-spinner fa-pulse fa-5x" ng-show="profileCtrl.showUploading"></i>
        </div>
        <div class="text-danger" ng-show="profileCtrl.showFileError">
          Wrong file format. Please use a .png or .jpeg file.
      </div>

        <div class="file-field input-field center-align">
          <input class="file-path validate widthzero" type="text"/>
          <div class="btn-flat grey grey-text" ng-class="{'lighten-2 text-lighten-4 no-hand': profileCtrl.showUploading, 'lighten-1 text-lighten-5': !profileCtrl.showUploading}" ng-disabled="profileCtrl.showUploading">
            <span>Change photo</span>
            <input type="file" nv-file-select uploader="profileCtrl.uploader" ng-disabled="profileCtrl.showUploading"/>
          </div>
        </div>


      </div>
      <div class="profile-form col s7">
        <div class="center-align" ng-show="!profileCtrl.hasPassword && !profileCtrl.showRecoveryFeedback">
          <p>Click here to set you password and edit your profile.</p>
          <a href="" ng-click="profileCtrl.recover()">Set password</a>
        </div>

        <div class="center-align" ng-show="!profileCtrl.hasPassword && profileCtrl.showRecoveryFeedback">
          <p>Please, check your email.</p>
        </div>

        <form ng-submit="(submitted=true) && profileCtrl.update()"
              name="profileForm" ng-show="profileCtrl.hasPassword">
          <div>
            <label for="username">Username</label>
            <input id="username" type="text" ng-model="nickname"  ng-maxlength="15" ng-pattern="/^[^@]+$/" >
          </div>
          <div class="text-danger" ng-show="submitted && registrationForm.nickname.$error.maxlength">El nombre de usuario es demasiado largo.</div>
          <div class="text-danger" ng-show="submitted && registrationForm.nickname.$error.pattern">El nombre de usuario no puede contener @.</div>

          <div>
            <label for="email">Email</label>
            <input id="email" type="email" ng-model="email"  ng-maxlength="60" >
          </div>
          <div class="text-danger" ng-show="submitted && registrationForm.email.$error.maxlength">El email es demasiado largo.</div>

          <div class="change-password" ng-hide="showChangePassword" ng-click="showChangePassword = true">
            Change password <i class="fa fa-pencil"></i>
          </div>

          <div class="input-field" ng-show="showChangePassword">
            <input id="newpass" type="password"ng-model="newpassword">
            <label for="newpass">New password</label>
          </div>

          <div class="input-field">
            <input id="pass" type="password" ng-model="password">
            <label for="pass">Current password</label>
          </div>
          <div class="text-danger" ng-show="profileCtrl.showWrongPassword">
            Wrong password.
          </div>

          <button type="submit" class="save-button waves-effect waves-light btn-flat light-blue darken-4 grey-text text-lighten-5">Save changes</button>
          <div class="text-success" ng-show="profileCtrl.showSuccess">
            Successfuly updated.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
