<div class="container" ng-controller="ProfileController as profileCtrl">
  <div class="cine clearfix form-group" ng-hide="betaCtrl.submitted">
    <div>
      <i class="fa fa-user fa-5x"></i>
    </div>

    <div>
      <form ng-submit="(submitted=true) && profileCtrl.update()"
            name="profileForm">
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" ng-model="nickname"  ng-maxlength="15" ng-pattern="/^[^@]+$/" >
        </div>
        <div class="text-danger" ng-show="submitted && registrationForm.nickname.$error.maxlength">El nombre de usuario es demasiado largo.</div>
        <div class="text-danger" ng-show="submitted && registrationForm.nickname.$error.pattern">El nombre de usuario no puede contener @.</div>

        <div>
          <label for="email">Email</label>
          <input id="email" type="email" ng-model="email"  ng-maxlength="60" >
        </div>
        <div class="text-danger" ng-show="submitted && registrationForm.email.$error.maxlength">El email es demasiado largo.</div>

        <div class="input-field">
          <label for="newpass">New password</label>
          <input id="newpass" type="password"ng-model="newpassword">
        </div>

        <div class="input-field">
          <label for="pass">Current password</label>
          <input id="pass" type="password" ng-model="password">
        </div>
        <div class="text-danger" ng-show="profileCtrl.showWrongPassword">
          Las contraseña introducida es erronea.
        </div>

        <button type="submit" class="waves-effect waves-light btn-flat grey-text text-lighten-5 green">Save changes</button>
        <div class="text-success" ng-show="profileCtrl.showSuccess">
          Datos modificados correctamente.
        </div>
      </form>
    </div>
  </div>

</div>
