<div class="container" ng-controller="ProfileController as profileCtrl">
  <div class="cine clearfix form-group">

    <div>
      <div>
        <i class="fa fa-user fa-5x" ng-hide="profileCtrl.avatar"></i>
        <img ng-src="{{profileCtrl.avatar}}" alt="{{profileCtrl.nickname}}" ng-show="profileCtrl.avatar"/>
        <i class="fa fa-spinner fa-pulse fa-5x" ng-show="profileCtrl.showUploading"></i>
        <div class="text-danger" ng-show="profileCtrl.showFileError">
          Wrong file format. Please use a .png or .jpeg file.
        </div>
      </div>

      <input type="file" nv-file-select uploader="profileCtrl.uploader" ng-disabled="profileCtrl.showUploading"/>

      <form ng-submit="(submitted=true) && profileCtrl.update()"discdisc
            name="profileForm">
        <div>
          <label>Username</label>
          <input type="text" ng-model="nickname"  ng-maxlength="15" ng-pattern="/^[^@]+$/" >
        </div>
        <div class="text-danger" ng-show="submitted && registrationForm.nickname.$error.maxlength">Username is too long.</div>
        <div class="text-danger" ng-show="submitted && registrationForm.nickname.$error.pattern">Username can't contain @.</div>

        <div>
          <label>Email</label>
          <input type="email" ng-model="email"  ng-maxlength="60" >
        </div>
        <div class="text-danger" ng-show="submitted && registrationForm.email.$error.maxlength">Email is too long.</div>

        <div>
          <label>New password</label>
          <input type="password" placeholder="new password" ng-model="newpassword">
        </div>

        <div>
          <label>Current password</label>
          <input type="password" placeholder="current password" ng-model="password">
        </div>
        <div class="text-danger" ng-show="profileCtrl.showWrongPassword">
          The password is incorrect. Try again.
        </div>

        <button type="submit" class="btn btn-default">Save changes</button>
        <div class="text-success" ng-show="profileCtrl.showSuccess">
          Data modified successfully.
        </div>
      </form>
    </div>
  </div>

</div>
