<div class="playlist" ng-repeat="playlist in playlistsCtrl.playlists | orderBy:playlist._id" data-playlist-id="{{ playlist._id }}">
<div class="col-sm-12">
    <h2>
      {{ playlist.title }}
      <a class="fa fa-youtube-play text-success" href="play?id={{ playlist._id }}"></a>
      <a class="fa fa-pencil text-primary" href="playlist?id={{ playlist._id }}"></a>
      <a class="fa fa-trash btn-delete text-danger" ng-click="playlistsCtrl.delete(playlist._id)"></a>
    </h2>

    <div>
      <span ng-repeat="tag in playlist.tags">
        {{ tag }}
      </span>
    </div>
    
    <div class="col-sm-2" ng-repeat="video in playlist.entries | limitTo: 4"><img ng-src="{{ video.thumbnail }}" class="img-responsive">
      <p class="videoTitle">{{ video.title }}</p>
    </div>
  </div>
</div>